*{
  box-sizing: border-box;
  
}

img {
    width: 150px;
}

hr{
  margin-top: 30px;
}

html,
body{
  margin: 0;
  padding: 0;
}

body{
  padding-top: 100px;
}

header{
  background-color: #008b5e;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 20px;
}

nav{
  float:right;
}

nav a{
  text-decoration: none;
}

a:hover{
  color: black;
}

nav a:visited{
  text-decoration: none;
  color: white;
}

footer{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#col1{
  width:50%;
  float: left;
  text-align: right;
  padding-right: 30px;
  padding-left: 50px;

}

#col2{
  width: 50%;
  float: left;
  text-align: left;
  padding: 30px;
  padding-top: 0px;
  border-left: 1px solid black;
  padding-right: 50px;

}

#hb{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: Ubuntu;
}

h1{
  margin-top: 0;
}

h2{
  margin-top: 0;
}

input[type="email"],
input#password{
  width: 100%;
  border-radius: 4px;
  padding: .5em;
  font-size: 1.2em;
}

button{
  border-radius: 4px;
  font-size: 1.2em;
}

#title,
#intro,
#context,
#text,
#conduct,
#services,
#tel,
#email{
  border-radius: 4px;
  width: 100%;
  font-size: 1.2em;
}