*{
  box-sizing: border-box;
  
}

img {
    width: 150px;
    float: right;
}

hr{
  margin-top: 10px;
  clear: both;
}

hr:nth-of-type(3){
  margin-top: 30px;
}

html,
body{
  margin: 0;
  padding: 0;
}

body{
  padding-top: 100px;
  padding-bottom: 100px;
}

header{
  background-color: #008b5e;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 20px;
}

nav{
  float:right;
}

nav a{
  text-decoration: none;
}

a:hover{
  color: black;
}

nav a:visited{
  text-decoration: none;
  color: white;
}

footer{
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

#col1{
  width:50%;
  float: left;
  text-align: right;
  padding-right: 30px;
  padding-left: 50px;

}

#col2{
  width: 50%;
  float: left;
  text-align: left;
  padding: 30px;
  padding-top: 0px;
  border-left: 1px solid black;
  padding-right: 50px;

}

#col3{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#hb{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: Ubuntu;
}

h1{
  margin-top: 0;
}

h2{
  margin-top: 0;
  margin-bottom: 0;
}

.login input[type="email"],
.login input#password{
  width: 100%;
  border-radius: 4px;
  padding: .5em;
  font-size: 1.2em;
}

input{
  width: 100%;
  border-radius: 4px;
  padding: .5em;
  font-size: 1.2em;
}

input[type="checkbox"]{
  width: auto;
}

select{
  width: 100%;
  border-radius: 4px;
  padding: .5em;
  font-size: 1.2em;
}

label{
  font-weight: bold;
  font-size: 1.5em;
}

.name-edit{
  margin-top: 0;
}

button{
  border-radius: 4px;
  font-size: 1.2em;
}

#title,
#intro,
#context,
#text,
#conduct,
#services,
#tel,
#email{
  border-radius: 4px;
  width: 100%;
  font-size: 1.2em;
}

#green{
  background-color: #008b5e;
  margin-left: auto;
  width: 50%;
  text-align: center;
  color: white;
  font-size: 2.5em;
  padding: 10px;
  padding-top: 20px;
}

#ctext{
  text-align: right;
  margin-top: 10px;
  font-size: 2em;
}

.cont{
    clear: both;
    text-align: justify;
}

.cont:nth-of-type(2){
  float: right;
  clear: both;
  margin-top: 20px;
  text-align: right;
}

.cont:nth-of-type(3){
  padding-top: 30px;
}

table{
  width: 100%;
}

thead{
  background-color: green;
  color: white;
  font-size: 1.5em;
  text-align: center;
}

th{
  width: 33.33%;
}

td{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bdc3c7;
  text-align: center;
}

#caption{
  margin-top: 0;
}

#submit-btn{
  margin-top: 10px;
}

.cont-cont{
  margin-top: 0;
}